@use "sass:map";

$generate-spacing-utilities: true !default;
$spacing-utility-types: (p, m, g, mw) !default;

$breakpoints: (
    "tablet": 991px,
    "mobile": 767px
);

@media only screen and (min-width: #{map.get($breakpoints, 'tablet') + 1px}) {}
@media only screen and (min-width: #{map.get($breakpoints, 'mobile') + 1px}) {}
@media only screen and (min-width: #{map.get($breakpoints, 'mobile') + 1px}) and (max-width: #{map.get($breakpoints, 'tablet')}) {}
@media only screen and (max-width: #{map.get($breakpoints, 'tablet')}) {}
@media only screen and (max-width: #{map.get($breakpoints, 'mobile')}) {}

$spacing-sizes: (
    "nil": 0,
    "2xs": 0.25rem,
    "xs": 0.5rem,
    "s": 0.75rem,
    "m": 1rem,
    "l": 1.5rem,
    "xl": 2rem,
    "2xl": 3rem,
    "3xl": 4rem,
    "section-py": 5rem,
    "4xl": 6rem,
    "5xl": 8rem,
    "6xl": 12rem,
    "7xl": 16rem
);

$spacing-sizes-tablet: (
    "2xl": 2.5rem,
    "3xl": 3.5rem,
    "section-py": 4rem,
    "4xl": 4.5rem,
    "5xl": 5.5rem,
    "6xl": 7.5rem,
    "7xl": 9.5rem
);

$spacing-sizes-mobile: (
    "2xl": 3rem,
    "3xl": 3rem,
    "section-py": 3.5rem,
    "4xl": 4rem,
    "5xl": 5rem,
    "6xl": 6rem,
    "7xl": 7rem
);

:root {
    @each $size, $value in $spacing-sizes {
        --sp-#{$size}: #{$value};
    }
    --sp-site-width: 1440px;
}

@media only screen and (max-width: #{map.get($breakpoints, 'mobile')}) {
    :root {
        @each $size, $value in $spacing-sizes-mobile {
            --sp-#{$size}: #{$value};
        }
    }
}

@media only screen and (min-width: #{map.get($breakpoints, 'mobile') + 1px}) and (max-width: #{map.get($breakpoints, 'tablet')}) {
    :root {
        @each $size, $value in $spacing-sizes-tablet {
            --sp-#{$size}: #{$value};
        }
    }
}

$max-width-sizes: (95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5);

$spacing-properties: (
    "p": "padding",
    "py": "padding-block",
    "px": "padding-inline",
    "pt": "padding-top",
    "pr": "padding-right",
    "pb": "padding-bottom",
    "pl": "padding-left",
    "m": "margin",
    "my": "margin-block",
    "mx": "margin-inline",
    "mt": "margin-top",
    "mr": "margin-right",
    "mb": "margin-bottom",
    "ml": "margin-left",
    "g": "gap"
);

@if $generate-spacing-utilities {

    @each $size, $value in $spacing-sizes {
        @each $prefix, $property in $spacing-properties {
            @if index($spacing-utility-types, $prefix) or
                (index($spacing-utility-types, p) and str-index($prefix, "p") == 1) or
                (index($spacing-utility-types, m) and str-index($prefix, "m") == 1) {

                .sp-#{$prefix}-#{$size} {
                    #{$property}: var(--sp-#{$size});
                }

            }
        }
    }

    @if index($spacing-utility-types, mw) {
        @each $size in $max-width-sizes {
            .sp-mw-#{$size} {
                max-width: calc(#{$size * 0.01} * var(--sp-site-width));
            }
        }
    }

    @media only screen and (max-width: #{map.get($breakpoints, 'tablet')}) {
        @each $size, $value in $spacing-sizes {
            @each $prefix, $property in $spacing-properties {
                @if index($spacing-utility-types, $prefix) or
                    (index($spacing-utility-types, p) and str-index($prefix, "p") == 1) or
                    (index($spacing-utility-types, m) and str-index($prefix, "m") == 1) {

                    .sp-#{$prefix}-#{$size}-tablet-mobile {
                        #{$property}: var(--sp-#{$size});
                    }

                }
            }
        }
    }

    @media only screen and (max-width: #{map.get($breakpoints, 'mobile')}) {
        @each $size, $value in $spacing-sizes {
            @each $prefix, $property in $spacing-properties {
                @if index($spacing-utility-types, $prefix) or
                    (index($spacing-utility-types, p) and str-index($prefix, "p") == 1) or
                    (index($spacing-utility-types, m) and str-index($prefix, "m") == 1) {

                    .sp-#{$prefix}-#{$size}-mobile {
                        #{$property}: var(--sp-#{$size});
                    }

                }
            }
        }
    }

}